
# BEGIN WordPress
# The directives (lines) between "BEGIN WordPress" and "END WordPress" are
# dynamically generated, and should only be modified via WordPress filters.
# Any changes to the directives between these markers will be overwritten.
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
RewriteBase /XAY_DUNG_WEB2_BAN_DONG_HO/
RewriteRule ^index\.php$ - [L]
RewriteRule ^ducduc/?$ /XAY_DUNG_WEB2_BAN_DONG_HO/wp-login.php [QSA,L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /XAY_DUNG_WEB2_BAN_DONG_HO/index.php [L]
</IfModule>

# END WordPress